extends layout

block content

  .container
    .row
      .col-lg-4.offset-lg-3
        p test
        -let index = 0;
        -let total = 0;

          
          
        for day in paydays
          -total = 0;

          table.table.table-bordered.table-hover.table-condensed
            tr
              th= month + "/" + day
              th Bill
              th Paid
            for bill in bills[index]
              -total += bill.ammount;
              tr
                td= bill.bill
                td= "$" + bill.ammount + ".00"
                td
                  input(type="checkbox" id=bill.bill)
                  
            tr
              th Total
              th="$" + total + ".00"
            tr
              th Ballance
              th="$" + (1025 - total) + ".00"  
          -index++;

  
